body {
  font-family: "Lato", sans-serif;
  letter-spacing: normal;
  line-height: 1.5em;
  background: whitesmoke;
  font-weight: 300;
  font-size: 20px;
  color: #343434;
  border-top: 5px solid darkred;
}

@media (max-width: 640px) {
  body {
    font-size: 16px;
  }
}

footer {
  background: #eee;
  font-size: 0.9em;
  line-height: 1.4em;
}

article, footer, section, header {
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (max-width: 640px) {
  article, footer, section, header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}


article {
  padding-bottom: 0;
}

header {
/*  background: #eee;*/
}

h1, h2, h3 {
  line-height: inherit;
}

h1 {
  font-size: 1.3em;
  font-weight: inherit;
  font-style: italic;
  line-height: 1.5em;
}

header h1 {
  font-weight: 400;
}

h2 {
  font-size: 1.2em;
  font-weight: inherit;
}

h3 {
  font-size: 1.1em;
  font-weight: inherit;
}

article h1 {
  font-weight: normal;
}

article h2 {
  margin-bottom: 30px;
  padding-bottom: 10px;
  margin-top: 40px;
}

ul {
  padding: 0; 
}

li {
  list-style-type: none;
  padding-bottom: 0.5em;
}

p {
  font-size: 1em;
}

a {
  color: darkred;
  text-decoration: none;
  font-style: italic;
  font-weight: normal;
}

a:hover {
  border-bottom: 1px solid darkred;
}

div.container {
  margin: auto;
  max-width: 700px;
}

figcaption {
  font-size: 0.9em;
  line-height: 1.3em;
  padding-top: 10px;
}

img {
  width: 95%;
}

strong {
  font-weight: normal;
}

figure {
  width: 90%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 10px;
}

@media (min-width: 640px) {
  figure.small {
    width: 60%;
  }
}


/*figure.small {
  width: 50%;
}

.small img {
  display: block;
  margin: auto;
  width: 50%;
}*/

.items-list {
  padding-top: 20px;
  padding-bottom: 20px;
}

.vat {
  line-height: 1.3em;
  display: block;
  font-family: monospace;
  font-size: 0.8em;
  font-weight: normal;
  color: #666;
}

.screen {
  display: block;
  padding-top: 50px;
  margin: auto;
  width: 100%;
  max-width: 960px;
}

div.footer {
  border-bottom: 5px solid darkred;
}
