/* EB Garamond + Courier Prime */
@import url("https://use.typekit.net/qbq4mxb.css");

:root {
	--max-width: 520px;
	--max-width-body: 1120px;
	--vertical-margin: 40px;
	--horizontal-padding: 15px;
	--grid-column-gap: 30px;
	--grid-row-gap: 0;
	--black: #353839;
	--red: #933;
	--code: #ffd;
	--gray: #ddd;
	--light-gray: #eee;
}

html,
body {
	margin: 0 auto;
	padding: 0;
	overflow-x: hidden;
	width: 100vw;
	min-height: 100vh;
	max-width: var(--max-width-body, 1120px);
	color: var(--black, #353839);
	font-family: "eb-garamond", serif;
	font-variant: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	font-size: 18px;
	line-height: 27px;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

/* main */

main {
	width: 100%;
	margin: 0;
	padding: 0 15px;
	box-sizing: border-box;
	flex: 1 1 auto;
}

@media screen and (min-width: 460px) {
	main {
		padding: 0 25px;
	}
}

/* end main */

/* article */

article {
	padding: 50px 0;
	margin: 0;
}

section article {
	padding: 0;
}

/* end article */

/* blockquote */

blockquote {
	max-width: var(--max-width, 520px);
	margin: 20px auto;
	background: var(--light-gray);
	padding: 20px;
	opacity: 0.9;
	box-sizing: border-box;
}

@media screen and (min-width: 460px) {
	blockquote {
		padding: 30px;
	}
}

/* end blockquote */

/* footer */

blockquote > footer {
	text-align: right;
}

/* end footer */

/* img */

img {
	max-width: 100%;
	display: block;
	box-sizing: border-box;
	border-radius: 2px;
}

figure > img {
	max-width: calc(100% + 20px);
	margin-left: -10px;
}

figcaption > p > img {
	margin: 5px 0 5px 10px;
	width: 50%;
	float: right;
}

@media (min-width: 975px) {
	figcaption > p > img {
		margin: 5px 0 5px 0;
		width: 100%;
	}
}

section article > img {
	border: 10px solid var(--light-gray, #eee);
}

/* end img */

/* h1 */

article > h1 {
	max-width: var(--max-width, 520px);
	font-size: 1.4rem;
	line-height: 2.1rem;
	font-weight: 600;
	padding-bottom: 25px;
	margin: 0 auto 25px auto;
}

/* end h1 */

/* strong */

strong {
	font-weight: 600;
}

/* end strong */

/* em */

em {
	font-style: italic;
}

/* end em */

/* section */

section {
	position: relative;
	margin: var(--vertical-margin, 40px) 0;
}

/* end section */

/* figure */

section > figure {
	margin: 10px 0;
	position: relative;
}

/* end figure */

/* figcaption */

section > figure > figcaption {
	font-size: 16px;
	line-height: 21px;
	z-index: 10;
	display: block;
	position: relative;
	width: 100%;
	right: 0;
	float: none;
	padding: 0;
	opacity: 0.8;
	max-width: var(--max-width, 520px);
	margin: 10px auto;
}

section > figure > div.grid-of-images + figcaption {
	position: relative;
	max-width: unset;
	width: 100%;
	margin-top: 10px;
}

/* 975 = 525 + 20 * 2 + 180 * 2 + 25 * 2 */
@media (min-width: 975px) {
	section > figure > figcaption {
		position: absolute;
		width: 180px;
		padding: 3px 0 0 0;
		margin: 0;
		top: 0;
		right: calc(-180px - 20px + (100% - 525px) / 2);
	}
}

/* 1120 = 525 + 20 * 2 + 252.5 * 2 + 25 * 2 */
@media (min-width: 1120px) {
	section > figure > figcaption {
		width: 252.5px;
		right: calc(-252.5px - 20px + (100% - 525px) / 2);
	}
}

/* end figcaption */

/* p */

p {
	max-width: var(--max-width, 520px);
	margin: 0 auto 10px auto;
	font-size: 20px;
	line-height: 30px;
	position: relative;
}

aside > p {
	opacity: 0.8;
	font-size: 16px;
	line-height: 24px;
	padding: 0;
	margin: 0;
}

body > footer p {
	margin: 0;
	padding: 5px 0;
	font-size: 16px;
	line-height: 24px;
}

body > header p {
	margin: 0;
}

body > header > p {
	grid-area: left;
	width: 100%;
}

section > header > p {
	font-size: 26px;
	line-height: 39px;
	margin: 10px 0;
	max-width: unset;
}

@media screen and (min-width: 460px) {
	section > header > p {
		font-size: 30px;
		line-height: 45px;
	}
}

@media screen and (min-width: 1120px) {
	section > header > p {
		max-width: 795px;
	}
}

section article > p {
	opacity: 0.8;
	margin: 0;
	padding: 0 0 5px 0;
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
	line-height: 24px;
}

section > figure > figcaption > p {
	font-size: 16px;
	line-height: 24px;
	display: inline;
}

body > footer > p:last-child {
	grid-area: center;
	width: 100%;
}

body > footer > p:first-child {
	grid-area: left;
	width: 100%;
}

/* end p */

/* ul */

ul {
	max-width: var(--max-width, 520px);
	margin: 0 auto 10px auto;
}

section > ul {
	font-size: 20px;
	line-height: 30px;
}

body > footer > ul {
	grid-area: right;
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 10px 0 5px 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	min-width: 130px;
}

@media screen and (min-width: 760px) {
	body > footer > ul {
		justify-content: flex-end;
	}
}

body > header > ul {
	grid-area: right;
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 10px 0 5px 0;
	display: none;
	flex-direction: row;
	justify-content: flex-start;
	min-width: 130px;
}

@media screen and (min-width: 460px) {
	body > header > ul {
		display: flex;
	}
}

@media screen and (min-width: 760px) {
	body > header > ul {
		justify-content: flex-end;
	}
}

body > header > nav > ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

/* ul */

/* a */

a {
	color: var(--red, #933);
	text-decoration: none;

	/* text-decoration-style: solid; */

	/* text-underline-offset: 2.5px; */
}

body > header a {
	color: var(--black, #353839);
	text-decoration: none;
}

body > header > nav > ul > li > a {
	padding: 0 10px;
}

/* a:hover {
	text-decoration-thickness: 0.1em;
} */

body > header > nav > ul > li:first-child > a {
	padding-left: 0;
}

a.external::after {
	position: relative;
	content: "\FEFF°";
	color: #933;
	font-feature-settings: "caps" 1;
}

/* end a */

/* code */

code {
	font-size: 16px;
	line-height: 24px;
	background-color: var(--code, #eee);
	padding: 3px 6px;
	border-radius: 2px;
	font-family: courier-prime, "Courier", monospace;
	font-weight: 400;
	font-style: normal;
}

pre code {
	display: inline-block;
	box-sizing: border-box;
	padding: 0 10px;
}

small > code {
	font-size: 14px;
	line-height: 21px;
}

figcaption > p > code {
	font-size: 14px;
	line-height: 21px;
}

pre > mark > code {
	min-width: 100%;
	border-left: 2px solid #ffd;
	background: rgb(255, 255, 120);
}

/* end code */

/* mark */

mark {
	background: rgb(255, 255, 120);
	color: inherit;
}

pre > mark {
	background: none;
}

/* end mark */

/* pre */

pre {
	background-color: var(--code, #eee);
	padding: 10px 0;
	border-radius: 2px;
	max-width: calc(20px + var(--max-width, 520px));
	margin: 0 auto 10px auto;
	overflow-y: hidden;
	overflow-x: auto;
	position: relative;
}

/* end pre */

/* small */

p > small {
	display: block;
	position: relative;
	width: 100%;
	right: 0;
	float: none;
	margin: 20px 0;
	padding: 0;
	font-size: 16px;
	line-height: 24px;
	opacity: 0.8;
	z-index: 10;
}

/* 975 = 525 + 20 * 2 + 180 * 2 + 25 * 2 */
@media (min-width: 975px) {
	p > small {
		position: absolute;
		width: 180px;
		padding: 3px 0 0 0;
		margin: 0;
		top: 0;
		right: calc(-180px - 20px);
	}
}

/* 1120 = 525 + 20 * 2 + 252.5 * 2 + 25 * 2 */
@media (min-width: 1120px) {
	p > small {
		width: 252.5px;
		right: calc(-252.5px - 20px);
	}
}

/* end small */

/* h2 */

section > h2 {
	display: block;
	position: relative;
	width: 100%;
	max-width: var(--max-width, 520px);
	margin: 20px auto;
	right: 0;
	float: none;
	padding: 0;
	font-size: 18px;
	line-height: 27px;
	font-weight: 600;
}

@media (min-width: 975px) {
	section > h2 {
		position: absolute;
		width: 180px;
		margin: 0;
		top: 0;
		left: 0;
	}
}

section > header > h2 {
	font-size: 30px;
	line-height: 45px;
	padding: 0;
	margin: 0;
}

/* end h2 */

/* h3 */

section article > h3 {
	padding: 5px 0 0 0;
	margin: 0;
	font-size: 16px;
	line-height: 24px;
	font-family: "Courier New", Courier, monospace;
}

section > figure > figcaption > h3 {
	font-size: 16px;
	line-height: 21px;
	max-width: var(--max-width, 520px);
	margin: 0 auto;
	display: inline;
}

/* end h3 */

/* body > footer */

body > footer {
	width: 100%;
	margin: 0;
	padding: 10px 25px;
	box-sizing: border-box;
	min-height: 90px;
	border-top: 1px solid var(--light-gray, #eee);
	display: grid;
	position: relative;
	grid-template-rows: auto;
	grid-template-columns: 1fr;
	grid-template-areas:
		"left"
		"center"
		"right";
	justify-items: start;
	align-items: center;
	grid-column-gap: 20px;
}

@media screen and (min-width: 760px) {
	body > footer {
		grid-template-columns: 1fr auto 1fr;
		grid-template-areas: "left center right";
	}
}

@media screen and (min-width: 960px) {
	body > footer {
		grid-template-columns: 1fr 525px 1fr;
	}
}

/* end body > footer */

/* span */

body > footer > p:first-child > span::after {
	content: " 2019";
}

/* end span */

/* li */

body > header > ul > li,
body > footer > ul > li {
	margin-left: 15px;
}

body > header > nav > ul > li {
	white-space: nowrap;
	overflow: hidden;
}

body > header > ul > li:first-child,
body > footer > ul > li:first-child {
	margin-left: 0;
}

body > header > nav > ul > li:last-child {
	display: none;
}

body > header > nav > ul > li:first-child {
	display: unset;
}

@media screen and (min-width: 760px) {
	body > header > nav > ul > li:last-child {
		display: unset;
	}
}

/* end li */

/* body > header */

body > header {
	width: 100%;
	margin: 0;
	padding: 0 25px;
	box-sizing: border-box;
	height: 90px;
	border-bottom: 1px solid var(--light-gray, #eee);
	position: relative;
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 20px auto 0;
	grid-template-areas: "left center right";
	justify-items: start;
	align-items: center;
	grid-column-gap: 20px;
}

@media screen and (min-width: 460px) {
	body > header {
		grid-template-columns: 30px auto 130px;
	}
}

@media screen and (min-width: 760px) {
	body > header {
		grid-template-columns: 1fr 520px 1fr;
	}
}

/* end body > header */

/* nav */

body > header > nav {
	grid-area: center;
	width: 100%;
}

/* end nav */

/* aside */

main > aside {
	margin: 0;
	padding: 10px;
	border-left: 2px solid #353839;
}

/* end aside */

/* .grid-of-images */

.grid-of-images {
	width: 100%;
	position: relative;
	margin-top: var(--vertical-margin, 40px);
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr;
	justify-items: start;
	align-items: start;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.grid-of-images.one,
.grid-of-images.two {
	grid-template-columns: 1fr;
}

@media screen and (min-width: 560px) {
	.grid-of-images {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	.grid-of-images.one,
	.grid-of-images.two {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (min-width: 780px) {
	.grid-of-images.one {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	.grid-of-images.one,
	.grid-of-images {
		grid-column-gap: 30px;
		grid-row-gap: 30px;
	}

	.grid-of-images.two {
		grid-column-gap: 50px;
		grid-row-gap: 50px;
	}
}

/* end .grid-of-images */

/* katex */
.katex {
	font-size: 1em;
	color: var(--black);
	color: #1a4876;
}

/* end katex */
