<section class="box760 section">
	<a name="essays"></a>
	<h1>Computational Essays</h1>
	<ul class="posts">

		<li class="article">
			<div>
				<img src="./assets/images/posts/p9.jpg" alt=""></img>
				<h1>
					<a href="https://open.nextbit.it/posts/a-gltf-triangle.html">A glTF triangle</a>
				</h1>
				<p>The present essay describes how to create a triangle model in glTF format. We will focus on the production of a buffer binary file with custom geometry and the description of buffer data by means of bufferViews and accessors.</p>
				<a href="https://open.nextbit.it/posts/a-gltf-triangle.html">https://open.nextbit.it/posts/a-gltf-triangle.html</a>
			</div>
		</li>

		<li class="article">
			<!-- <time class="left" datetime="2018-07-30">July 30, 2018</time> -->
			<div>
				<img src="./assets/images/posts/p8.png" alt=""></img>
				<h1>
					<a href="https://beta.observablehq.com/@riccardoscalco/switch-space-quarters-iteratively">Switch space quarters iteratively</a>
				</h1>
				<p>I wanted to play a bit with the fragment shader of the WebGL Hello World essay, the challenge was to subdivide the canvas in quarters and then switch the top-left quarter with the bottom-right, and the top-right quarter with the bottom-left...</p>
				<a href="https://beta.observablehq.com/@riccardoscalco/switch-space-quarters-iteratively">https://beta.observablehq.com/@riccardoscalco/switch-space-quarters-iteratively</a>
			</div>
		</li>

		<li class="article">
			<!-- <time class="left" datetime="2018-07-21">July 30, 2018</time> -->
			<div>
				<img src="./assets/images/posts/p7.png" alt=""></img>
				<h1>
					<a href="https://beta.observablehq.com/@riccardoscalco/webgl-hello-world">WebGL Hello World</a>
				</h1>
				<p>The following code shows a basic webgl program where attributes, uniforms and varyings are used. The initialisation is separated from the rendering by the definition of dedicated init functions and a drawScene function...</p>
				<a href="https://beta.observablehq.com/@riccardoscalco/webgl-hello-world">https://beta.observablehq.com/@riccardoscalco/webgl-hello-world</a>
			</div>
		</li>

		<li class="article">
			<!-- <time class="left" datetime="2018-05-08">May 08, 2018</time> -->
			<div>
				<img src="./assets/images/posts/p6.png" alt=""></img>
				<h1>
					<a href="https://beta.observablehq.com/@riccardoscalco/warp-glsl-coordinate-space">Warp GLSL coordinate space</a>
				</h1>
				<p>On the following I experimented with the coordinate space of a GLSL fragment. I asked myself how to warp the space and, easily enough, it is just matter of function composition...</p>
				<a href="https://beta.observablehq.com/@riccardoscalco/warp-glsl-coordinate-space">https://beta.observablehq.com/@riccardoscalco/warp-glsl-coordinate-space</a>
			</div>
		</li>

		<li class="article">
			<!-- <time class="left" datetime="2018-04-30">Apr 30, 2018</time> -->
			<div>
				<img src="./assets/images/posts/p5.png" alt=""></img>
				<h1>
					<a href="https://beta.observablehq.com/@riccardoscalco/value-and-gradient-noise-in-glsl">Value and Gradient noise in GLSL</a>
				</h1>
				<p>Gradient noise, known also as Perlin noise, is based on the definition of random vectors on the lattice, instead of random numbers as with value noise. On the following, I tried to clean up the code needed to draw noise in a GLSL shader...</p>
				<a href="https://beta.observablehq.com/@riccardoscalco/value-and-gradient-noise-in-glsl">https://beta.observablehq.com/@riccardoscalco/value-and-gradient-noise-in-glsl</a>
			</div>
		</li>

		<li class="article">
			<!-- <time class="left" datetime="2018-03-20">Mar 09, 2018</time> -->
			<div>
				<img src="./assets/images/posts/p4.png" alt=""></img>
				<h1>
					<a href="https://beta.observablehq.com/@riccardoscalco/smoother-bilinear-interpolation">Smoother Bilinear Interpolation</a>
				</h1>
				<p>Bilinear interpolation on one and two dimension has been implemented within a GLSL fragment, see function interpolate and comment/uncomment code in order to see how interpolation of scaled variables change the visible result...</p>
				<a href="https://beta.observablehq.com/@riccardoscalco/smoother-bilinear-interpolation">https://beta.observablehq.com/@riccardoscalco/smoother-bilinear-interpolation</a>
			</div>
		</li>

		<li class="article">
			<!-- <time class="left" datetime="2018-02-28">Mar 09, 2018</time> -->
			<div>
				<img src="./assets/images/posts/p3.png" alt=""></img>
				<h1>
					<a href="https://beta.observablehq.com/@riccardoscalco/glsl-bicubic-interpolation">GLSL bicubic interpolation</a>
				</h1>
				<p>I want to explore here how bicubic interpolation works, i.e. the math behind it, highlighting the degrees of freedom the method provides. I provide a GLSL implementation, as long as the function for a matrix of random values in...</p>
				<a href="https://beta.observablehq.com/@riccardoscalco/glsl-bicubic-interpolation">https://beta.observablehq.com/@riccardoscalco/glsl-bicubic-interpolation</a>
			</div>
		</li>

		<li class="article">
			<!-- <time class="left" datetime="2018-02-28">Feb 28, 2018</time> -->
			<div>
				<img src="./assets/images/posts/p2.png" alt="" class="with-border"></img>
				<h1>
					<a href="https://beta.observablehq.com/@riccardoscalco/ruler-and-compass-construction-of-a-pentagon">Ruler and compass construction of a pentagon</a>
				</h1>
				<p>A geometric figure is constructible with the only use of ruler and compass if its segments are constructible. A segment of length <em>a</em> is constructible if the number <em>a</em> is constructible...</p>
				<a href="https://beta.observablehq.com/@riccardoscalco/ruler-and-compass-construction-of-a-pentagon">https://beta.observablehq.com/@riccardoscalco/ruler-and-compass-construction-of-a-pentagon</a>
			</div>
		</li>

		<li class="article">
			<!-- <time class="left" datetime="2018-02-26">Feb 26, 2018</time> -->
			<div>
				<img src="./assets/images/posts/p1.png" alt=""></img>
				<h1>
					<a href="https://beta.observablehq.com/@riccardoscalco/draw-regular-polygons-by-means-of-functions">Draw regular polygons by means of functions</a>
				</h1>
				<p>One thing I find interesting about shaders is the fact that images are generated by functions. Given a function <em>f(x,y)</em> you can easily see its shape, the image, but given the image is not obvious what is the function capable to generate that image...</p>
				<a href="https://beta.observablehq.com/@riccardoscalco/draw-regular-polygons-by-means-of-functions">https://beta.observablehq.com/@riccardoscalco/draw-regular-polygons-by-means-of-functions</a>
			</div>
		</li>

	</ul>
</section>