<section class="box760 section education">
	<div>
		<h1>Education</h1>
		<ul>
			<li><strong>University of Zurich</strong> 2009 – 2012<br>
				PhD in Computational Biochemistry</li>
			<li><strong>University of Parma</strong> 2005 – 2008<br>
				Master's degree in Theoretical Physics</li>
		</ul>
	</div>
	<div>
		<h1>Scientific Publications</h1>
		<ul>
			<li><a href="http://www.biochem-caflisch.uzh.ch/sites/default/files/publist/pdfs/riccardos12jctc.pdf">
					Ultrametricity in Protein Folding Dynamics</a>
					<br>J. Chem. Theory Comput., 2012, 8 (5), pp 1580–1588
			</li>
			<li><a href="http://www.plosone.org/article/info:doi/10.1371/journal.pone.0027924">
					Rohlin Distance and the Evolution of Influenza A Virus:
					Weak Attractors and Precursors</a>
					<br>PLOS ONE 6(12): e27924
			</li>
			<li><a href="http://www.biochem-caflisch.uzh.ch/sites/default/files/publist/pdfs/riccardos11.pdf">
					Equilibrium distribution from distributed computing (simulations
					of protein folding)</a>
					<br>J Phys Chem B. 2011 May 19;115(19):6358-65
			</li>
		</ul>
	</div>
</section>