<footer>

<!--         <h1>Contacts</h1> -->
    You can find me on <a href="https://github.com/riccardoscalco">github</a>,
    <a href="https://twitter.com/eidogram">twitter</a>,
    <a href="https://it.pinterest.com/riccardoscalco/my-data-visualization-works/">Pinterest</a>,
    <a href="https://www.linkedin.com/pub/riccardo-scalco/88/408/98b">
        linkedin</a> and
    <a href="https://instagram.com/riccardoscalco/">instagram</a>
    , or just drop me a line.<br>

    <p class="vat">
<!--           Riccardo Scalco<br>
      Strada Grotta 13,<br>
      43047 Pellegrino P.se<br>
      Parma, Italia.<br> -->
      riccardoscalco [at] gmail [dot] com<br>
      VATIN: IT 03876810247<br>
    </p>
    <!-- <span class="vat">RICCARDO SCALCO, COPYRIGHT 2015</span> -->

</footer>
