  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="data visualization, big data, data science, infographics"/>
    <title>Riccardo Scalco, graphic information processing</title>
    <meta name="description" content="Riccardo Scalco is an independent consultant in graphic information processing and data science.">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/sty.css">
    <link rel="canonical" href="http://riccardoscalco.github.io//">
    <link href='http://fonts.googleapis.com/css?family=Inconsolata|Merriweather:400italic,400,300italic,300,700,700italic' rel='stylesheet' type='text/css'>
  </head>
