<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="keywords" content="information design, data visualization, web design, frontend, big data, data science, infographics"/>
	<title>Riccardo Scalco</title>
	<meta name="description" content="Constantly surprised by life.">
	<meta name="subject" content="">

	<link rel="author" href="humans.txt">
	<link rel="license" href="copyright.txt">
	<link rel="canonical" href={{site.url}}{{page.url}}/>

	<meta property="og:url" content="https://riccardoscalco.it">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Riccardo Scalco">
	<meta property="og:image" content="/assets/images/card-image.png">
	<meta property="og:description" content="Constantly surprised by life">
	<meta property="og:site_name" content="riccardoscalco.it">
	<meta property="og:locale" content="en_US">
	<meta property="article:author" content="Riccardo Scalco">

	<meta name="twitter:card" content="Constantly surprised by life">
	<meta name="twitter:url" content="https://riccardoscalco.it">
	<meta name="twitter:title" content="Riccardo Scalco">
	<meta name="twitter:description" content="Constantly surprised by life">
	<meta name="twitter:image" content="/assets/images/card-image.png">
	<style>
		.oss-section {
			background-image: url("/assets/images/bg.png");
			background-size: 90%;
			background-repeat: no-repeat;
			background-position: 300% 100%;
		}

		@media (max-width: 1023px) {
			.oss-section {
				background-image: none;
			}
		}
	</style>
	<link href="/css/normalize.css" rel="stylesheet" >
	<link href="/css/style.css" rel="stylesheet">
</head>