<a name="oss"></a>
<section class="box760 section oss-section">
	<h1>Open Source Software</h1>
	<ul class="oss">
		<li class="article">
			<h1 class="left">Textures.js</h1>
			<div>
				<p>JavaScript library for the creation of SVG patterns.</p>
				<a href="https://github.com/riccardoscalco/textures">https://github.com/riccardoscalco/textures</a>
			</div>
		</li>
		<li class="article">
			<h1 class="left">Pykov</h1>
			<div>
				<p>Python module for finite regular Markov chains.</p>
				<a href="https://github.com/riccardoscalco/Pykov">https://github.com/riccardoscalco/Pykov</a>
			</div>
		</li>
		<li class="article">
			<h1 class="left">Crayon.css</h1>
			<div>
				<p>Crayon.css is a list of css variables linking color names to hex values.</p>
				<a href="https://github.com/riccardoscalco/crayon">https://github.com/riccardoscalco/crayon</a>
			</div>
		</li>
		<li class="article">
			<h1 class="left">Gridmap.js</h1>
			<div>
				<p>D3.js module for the creation of dot grid maps.</p>
				<a href="https://github.com/riccardoscalco/gridmap">https://github.com/riccardoscalco/gridmap</a>
			</div>
		</li>
	</ul>
</section>