<article class="grid layout-two-small">
	<figure class="q1">
		<img src="./assets/images/iv1.1.png" alt="">
	</figure>
	<figure class="q3">
		<img src="./assets/images/iv1.3.png" alt="">
	</figure>
	<figure class="q4">
		<img src="./assets/images/iv1.2.jpg" alt="">
	</figure>
	<figure class="q5">
		<img src="./assets/images/iv1.5.jpg" alt="">
		<figcaption>Pictures from initial investigations.</figcaption>
	</figure>
	<div class="q2">
		<div class="content">
			<p class="descriptor">Date</p>
			<p>October - December 2015</p>
		</div>
		<div class="content">
			<p class="descriptor">Description</p>
			<p>Prototype of a immersive user interface over a vast amount of textual information. The <em>galaxy like</em> spatial scattering of entities is based on a gaussian distribution on the y axis.</p>
		</div>
		<div class="content">
			<p class="descriptor">Credits</p>
			<p>Concept by R. Scalco and <a href="https://densitydesign.org/person/paolo-ciuccarelli/">P. Ciuccarelli</a>, front-end development by R. Scalco. Created at <a href="http://cgnal.com/">CGnal</a>.</p>
		</div>
		<div class="content">
			<p class="descriptor">External</p>
			<p><a href="http://nova.ilsole24ore.com/progetti/una-piattaforma-per-anticipare-il-futuro/">http://nova.ilsole24ore.com/progetti/una-piattaforma-per-anticipare-il-futuro/</a></p>
		</div>
		<div class="content">
			<p class="descriptor">Tecnology</p>
			<p>Javascript, SVG, D3.js.</p>
		</div>
	</div>
</article>