<article class="grid layout-many">
	<figure class="q2">
		<img src="./assets/images/iv10.5.png" alt="" class="with-border">
	</figure>
	<figure class="q3">
		<img src="./assets/images/iv10.2.png" alt="" class="with-border">
	</figure>
	<figure class="q4">
		<img src="./assets/images/iv10.3.png" alt="" class="with-border">
	</figure>
	<figure class="q5">
		<img src="./assets/images/iv10.4.png" alt="" class="with-border">
	</figure>
	<figure class="q6">
		<img src="./assets/images/iv10.1.png" alt="" class="with-border">
	</figure>
	<figure class="q7">
		<img src="./assets/images/iv10.6.png" alt="" class="with-border">
		<figcaption>Read more at <a href="https://qbert.nextbit.it/">https://qbert.nextbit.it/</a>.</figcaption>
	</figure>
	<div class="q1">
		<div class="content">
			<p class="descriptor">Date</p>
			<p>April - September 2018</p>
		</div>
		<div class="content">
			<p class="descriptor">Description</p>
			<p>Versatile user interface for anomalies discovery in operational business processes. With a focus on data visualization and collaborative functions, the highly interactive dashboard facilitates the visual exploration of process information and the discovery of process anomalies.
			</p>
		</div>
		<div class="content">
			<p class="descriptor">Credits</p>
			<p>
				Concept by R. Scalco in collaboration with the team in <a href="https://nextbit.it/">Nextbit</a>, front-end development by R. Scalco. Created at <a href="https://nextbit.it/">Nextbit</a>.
			</p>
		</div>
		<div class="content">
			<p class="descriptor">Tecnology</p>
			<p>Javascript, Vue.js, Vuex.js, SVG, D3.js.</p>
		</div>
	</div>
</article>