<article class="grid layout-big">
	<figure class="q3">
		<figcaption>
			Iconic rapresentions of data quality, each element describes the information completeness of the associated entity. Holes in the rings rapresent missing information in the entity's data structure, whereas the number of arcs visually communicate the complexity of underlying datum.
		</figcaption> 
		<img src="./assets/images/iv2.1.svg" alt="">
	</figure>
	<figure class="q4">
		<img src="./assets/images/iv2.2.svg" alt="" class="with-border">
		<figcaption>Detailed representation of information completeness in a pseudo-hierarchical data structure. Dashed lines show missing data, whereas solid lines without dots highlight absence of entities accepted as exceptions by business rules.</figcaption>
	</figure>
	<figure class="q5">
		<img src="./assets/images/iv2.6.png" alt="">
		<figcaption>Read more at <a href="https://damneat.nextbit.it/">https://damneat.nextbit.it/</a>.</figcaption>
	</figure>
	<div class="q1">
		<div class="content">
			<p class="descriptor">Date</p>
			<p>April - December 2017</p>
		</div>
		<div class="content">
			<p class="descriptor">Description</p>
			<p>User interface for data quality analysis of rich datasets. Information completeness is visualised highlithing where data is missing.</p>
		</div>
		<div class="content">
			<p class="descriptor">Credits</p>
			<p>Concept by R. Scalco. Created at <a href="https://nextbit.it/">Nextbit</a>.</p>
		</div>
		<div class="content">
			<p class="descriptor">External</p>
			<p><a href="https://damneat.nextbit.it/">https://damneat.nextbit.it/</a></p>
		</div>
	<!-- </div>
	<div class="q2"> -->
		<div class="content">
			<p class="descriptor">Tecnology</p>
			<p>Javascript, Redux.js, Riot.js, Electron, SVG, D3.js.</p>
		</div>
	</div>

</article>