<article class="grid layout">
	<figure class="q1">
		<img src="./assets/images/iv3.1.png" alt="">
	</figure>
	<figure class="q3">
		<img src="./assets/images/iv3.2.jpg" alt="">
	</figure>
	<div class="q2">
		<div class="content">
			<p class="descriptor">Date</p>
			<p>September 2015 and September 2016</p>
		</div>
		<div class="content">
			<p class="descriptor">Description</p>
			<p>User interface for the monitoring of real time spatial data collected during the endurance trails <a href="http://www.tordesgeants.it/it">Tor des Geants</a>. Runners positions along the elevation profile are calculated from times registered at the checkpoints and the runner mean velocity.</p>
		</div>
		<div class="content">
			<p class="descriptor">Credits</p>
			<p>Concept and front-end development by R. Scalco. Project realized in collaboration with <a href="https://www.linkedin.com/in/paolo-griselli-2b726026/">P. Griselli</a>.</p>
		</div>
		<div class="content">
			<p class="descriptor">Tecnology</p>
			<p>Javascript, SVG, D3.js.</p>
		</div>
	</div>
</article>