<article class="grid layout-one">
	<figure class="q1">
		<img src="./assets/images/iv4.1.png" alt="" class="with-border">
		<figcaption>Read more at <a href="https://ridlock.nextbit.it/">https://ridlock.nextbit.it/</a>.</figcaption>
	</figure>
	<div class="q2">
		<div class="content">
			<p class="descriptor">Date</p>
			<p>November 2017 - March 2018</p>
		</div>
		<div class="content">
			<p class="descriptor">Description</p>
			<p>The user interface is designed around the visualisation of equivalence classes derived from the dataset, user interactions with the visual representation offer a way to filter and explore the underlying data.</p>
		</div>
		<div class="content">
			<p class="descriptor">Credits</p>
			<p>Concept by R. Scalco in collaboration with the team in <a href="https://nextbit.it/">Nextbit</a>, front-end development by R. Scalco. Created at <a href="https://nextbit.it/">Nextbit</a>.</p>
		</div>
		<div class="content">
			<p class="descriptor">External</p>
			<p><a href="https://ridlock.nextbit.it/">https://ridlock.nextbit.it/</a></p>
		</div>
		<div class="content">
			<p class="descriptor">Tecnology</p>
			<p>Javascript, Riot.js, Redux.js, SVG, D3.js.</p>
		</div>
	</div>
</article>