<article class="grid layout-many">
	<figure class="q2">
		<img src="./assets/images/iv6.1.png" alt="" class="with-border">
	</figure>
	<figure class="q3">
		<img src="./assets/images/iv6.2.png" alt="" class="with-border">
	</figure>
	<figure class="q4">
		<img src="./assets/images/iv6.3.png" alt="" class="with-border">
	</figure>
	<figure class="q5">
		<img src="./assets/images/iv6.4.png" alt="" class="with-border">
	</figure>
	<figure class="q6">
		<img src="./assets/images/iv6.5.png" alt="" class="with-border">
	</figure>
	<figure class="q7">
		<img src="./assets/images/iv6.6.png" alt="" class="with-border">
	</figure>
	<div class="q1">
		<div class="content">
			<p class="descriptor">Date</p>
			<p>September 2017</p>
		</div>
		<div class="content">
			<p class="descriptor">Description</p>
			<p>Development of a prototype graphical interface for the exploration of time dependent data and anomaly detection analysis.
			</p>
		</div>
		<div class="content">
			<p class="descriptor">Credits</p>
			<p>
				Concept by <a href="https://densitydesign.org">Density Design</a>, front-end development by R. Scalco and Density Design.
			</p>
		</div>
		<div class="content">
			<p class="descriptor">Tecnology</p>
			<p>Javascript, Riot.js, Redux.js, SVG, D3.js.</p>
		</div>
	</div>
</article>