<article class="grid layout-one">
	<figure class="q1">
		<img src="./assets/images/iv7.4.svg" alt="" class="with-border">
		<figcaption>Download the <a href="https://riccardoscalco.github.io/assets/nma.pdf">poster</a>.</figcaption>
	</figure>
	<div class="q2">
		<div class="content">
			<p class="descriptor">Date</p>
			<p>April 2014</p>
		</div>
		<div class="content">
			<p class="descriptor">Description</p>
			<p>Visual representation of Network Meta Analysis data inspired by atomic orbitals. Direct and undirect comparisons of clinical trials are visualized taking into occount population size, variance and the derived probabilities. The proposal has been presented at <a href="http://www.marionegri.it/">The Mario Negri Institute</a> for pharmacological research, in affiliation with the editorial company <a href="http://en.zadig.it/">Zadig</a>.</p>
		</div>
		<div class="content">
			<p class="descriptor">Credits</p>
			<p>Graphical representation by R. Scalco and <a href="https://www.linkedin.com/in/sergiocima">S. Cima</a> (Tuxtax).</p>
		</div>
		<div class="content">
			<p class="descriptor">Tecnology</p>
			<p>SVG.</p>
		</div>
	</div>
</article>