<article class="grid layout-three">
	<figure class="q1">
		<img src="./assets/images/iv8.1.png" alt="">
	</figure>
	<figure class="q4">
		<img src="./assets/images/iv8.2.png" alt="">
	</figure>
	<figure class="q3">
		<img src="./assets/images/iv8.3.png" alt="">
		<figcaption>Read more at <a href="https://www.viias.it/dataviz/">https://www.viias.it/dataviz/</a>.</figcaption>
	</figure>
	<div class="q2">
		<div class="content">
			<p class="descriptor">Date</p>
			<p>June 2015</p>
		</div>
		<div class="content">
			<p class="descriptor">Description</p>
			<p>Custom data visualisation of air pollution data collected in Italy, the visual represention provides a support for the presentation of the project <a href="https://www.viias.it/">Viias</a>.</p>
		</div>
		<div class="content">
			<p class="descriptor">Credits</p>
			<p>Concept and front-end development by R. Scalco. Project realized in collaboration with <a href="https://www.linkedin.com/in/sergiocima">S. Cima</a> and requested by the editorial company <a href="http://en.zadig.it/">Zadig</a>.</p>
		</div>
		<div class="content">
			<p class="descriptor">External</p>
			<p><a href="https://www.viias.it/dataviz/">https://www.viias.it/dataviz/</a></p>
		</div>
		<div class="content">
			<p class="descriptor">Tecnology</p>
			<p>Javascript, SVG, D3.js.</p>
		</div>
	</div>
</article>