<article class="grid layout-one">
	<figure class="q1">
		<img src="./assets/images/iv9.1.png" alt="" class="with-border">
		<figcaption>Visible at <a href="https://riccardoscalco.github.io/populationDensityVsVoterTurnout/">https://riccardoscalco.github.io/populationDensityVsVoterTurnout/</a>.</figcaption>
	</figure>
	<div class="q2">
		<div class="content">
			<p class="descriptor">Date</p>
			<p>December 2014</p>
		</div>
		<div class="content">
			<p class="descriptor">Description</p>
			<p>This is one of my first data visualisation projects. The voter turnout, i.e. the percentage of eligible voters who cast a ballot in an election, has been related with the population density of the 1206 municipalities 
			in Piedmont. You can explore the analysis through an interactive visualisation.</p>
		</div>
		<div class="content">
			<p class="descriptor">Credits</p>
			<p>Concept and development by R. Scalco.</p>
		</div>
		<div class="content">
			<p class="descriptor">External</p>
			<p><a href="https://riccardoscalco.github.io/populationDensityVsVoterTurnout/">https://riccardoscalco.github.io/populationDensityVsVoterTurnout/</a></p>
		</div>
		<div class="content">
			<p class="descriptor">Tecnology</p>
			<p>Javascript, SVG, D3.js.</p>
		</div>
	</div>
</article>