/*@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300italic,300,400italic,600,600italic);*/
/*@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300);*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,300italic,300);

html,
body {
  width: 100%;
  background-color: white;
  font-family: 'Roboto', serif;
  font-size: 13px;
  font-style: normal;
  color: #333;
}

body {
  border-top: 5px solid rgba(68, 215, 168, 0.3);
  border-bottom: 5px solid #333;
}

section {
  margin: 0 auto 0 auto;
  padding: 5rem 1rem 5rem 1rem;
}

figure {
  margin:0;
  padding: 1rem;
}

header img {
  float: left;
  position: absolute;
  width: 100px;
  opacity: 0.5;
}

footer {
  text-align: center;
}

footer img {
  width: 100px;
  opacity: 0.5;
  margin: 0 auto 50px auto;
}

.short900 {
  max-width: 900px;
}

.short600 {
  max-width: 600px;
}

p {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5rem;
  letter-spacing: 0.03rem;
  margin: 0;
  padding: 0rem 1rem 1rem 1rem;
}


p.tiny {
  font-size: 11px;
}

h1 {
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
  margin: 0;
  padding: 0rem 1rem 1rem 1rem;
}

em {
  background-color: rgba(68, 215, 168, 0.3);
  font-style: normal;
}

.italic {
  font-style: italic;
}

img.filtered {
  opacity: 0.9;
  -webkit-filter: brightness(1.6) contrast(1.3) grayscale(0.5) hue-rotate(-90deg) invert(0.1) saturate(0.5) sepia(0);
          filter: brightness(1.6) contrast(1.3) grayscale(0.5) hue-rotate(-90deg) invert(0.1) saturate(0.5) sepia(0);
}

.Aligner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.Grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: auto;
}

@media  (max-width: 599px) {
  .Grid {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}

@media  (min-width: 600px) {
  .Grid {
    max-width: 600px;
  }
}

@media  (min-width: 900px) {
  .Grid {
    max-width: 900px;
  }
}

@media  (min-width: 1200px) {
  .Grid {
    max-width: 1200px;
  }
}

.Grid-cell {
  width: 280px;
  height: 280px;
  box-sizing: border-box;
  margin: 0;
  padding: 1rem 1rem 1rem 1rem;
}

.two h1,
.two p {
  max-width: 300px;
  padding: 0rem 1.35rem 1rem 1.35rem;
}

.two-columns {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
}

@media  (max-width: 760px) {
.two-columns {
  max-width: 500px;
  -webkit-column-count: 1;
     -moz-column-count: 1;
          column-count: 1;
} 
}

.big {
  font-weight: 300;
  font-style: normal;
  font-size: 2.6rem;
  line-height: 3.5rem;
  letter-spacing: 0.1rem;
}




