@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);

#viz {
  width: 900px;
  margin: auto;
  min-height: 2000px;
}

.cell {
  border: 1px solid green;
}

.averageLine {
  stroke: #131313;
  stroke-opacity: 1;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.labels,
.y.axis text {
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
}

.ylabels {
  text-anchor: end;
}

.y.axis line {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
}

.y.axis path {
  display: none;
}

.y.axis text {
  fill: #ccc;
}